apiVersion: batch/v1
kind: Job
metadata:
  name: migrate
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: migrate
          image: 2fa/migrate:latest
          imagePullPolicy: Never
          env:
            - name: MIGRATIONS_PATH
              value: "/root/migrations"
          envFrom:
            - configMapRef:
                name: api-config
            - secretRef:
                name: api-secrets
